<div>
  <h2>Bind Demo Page</h2>

  <h3>Model Binding</h3>
    <h4>Changes to the model update the page display</h4>


  <label for='displayValue'>Enter an item:</label>
  <input id='displayValue' ng-model='displayValue'></input>

  <p><button ng-click="push()">Push to Stack</button> <button ng-click="pop()">Pop off the Stack</button></p>


  <table id="display-table">
    <thead>
      <tr id="display-table">
        <th id="display-table">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="val in stack.demo" id="display-table">
        <td id="display-table">{{val.value}}</td>
      </tr>
    </tbody>
  </table>

  <h3>Element Binding</h3>
<h4>Page elements can be bound to the same model without calling the controller</h4>
    <!-- Both selectors are bound to the same model, so mirror each other -->
    <p>Tweedledee :&nbsp;&nbsp;
        <select ng-model="selectorA">
            <option value='1'>Option 1</option>
            <option value='2'>Option 2</option>
            <option value='3'>Option 3</option>
            <option value='4'>Option 4</option>
            <option value='5'>Option 5</option>
            <option value='6'>Option 6</option>
        </select>
        <input id='inputValue1' ng-model='inputValue'></input>
    </p>
    <p>Tweedledum :&nbsp;
        <select ng-model="selectorA">
            <option value='1'>Option 1</option>
            <option value='2'>Option 2</option>
            <option value='3'>Option 3</option>
            <option value='4'>Option 4</option>
            <option value='5'>Option 5</option>
            <option value='6'>Option 6</option>
        </select>
        <input id='inputValue2' ng-model='inputValue'></input>
    </p>
</div>
