<div>
  <h2>Transfers Page</h2>

  <table>
      <tr><td style="text-align:right;">
          <label for='transferData.fromAccount'>From:</label>
      </td><td style="text-align:left;">
          <select ng-model="transferData.fromAccount">
            <option ng-repeat="account in transferData.accounts" value={{account.accountNumber}}>{{account.accountNickname}}  ${{account.accountBalance}}</option>
          </select>
      </td></tr>
      <tr><td style="text-align:right;">
          <label for='transferData.toAccount'>To:</label>
      </td><td style="text-align:left;">
          <select ng-model="transferData.toAccount">
            <option ng-repeat="account in transferData.accounts" value={{account.accountNumber}}>{{account.accountNickname}}  ${{account.accountBalance}}</option>
          </select>
      </td></tr>
      <tr><td style="text-align:right;">
          <label for='transferData.transferAmount'>Enter an amount:</label>
      </td><td style="text-align:left;">
          <input id='transferData.transferAmount' type='number' min='0' ng-model='transferData.transferAmount'></input>
      </td></tr>
      <tr><td>
      </td><td style="text-align:left;">
          <button ng-click="transfer()">Transfer Amount</button>
      </td></tr>
  </table>
</div>
